---
http_interactions:
- request:
    method: get
    uri: https://offer-v3.hypofriend.de/api/v5/new-offers?loan_amount=1&property_value=-350000&repayment=1.0&years_fixed=15
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4a4faf01da52443c9d1481405de35566"
    body:
      encoding: UTF-8
      string: '{"data":{"cached":false,"offers":[{"institution_name":"ERGO","borrowing_rate":1.57}]}}'
  recorded_at: Tue, 29 Jun 2021 21:46:46 GMT
recorded_with: VCR 6.0.0
