---
http_interactions:
- request:
    method: get
    uri: https://offer-v3.hypofriend.de/api/v5/new-offers?loan_amount=350000&property_value=350000&repayment=1.0&years_fixed=15
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"93c52ae93d395380a2e6b1145bc1d774"
    body:
      encoding: UTF-8
      string: '{"data":{"cached":false,"offers":[{"institution_name":"ING_DIBA","borrowing_rate":1.68}]}}'
  recorded_at: Tue, 29 Jun 2021 21:43:19 GMT
recorded_with: VCR 6.0.0
